.player-container {
    border-top: 1px solid var(--divider);
    background-color: var(--background-paper);
    padding: 16px;
}

.button-container {
    text-align: center;
    max-width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
}

.play-button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-size: 32px;
    display: grid;
    place-items: center;
}

.skip {
    font-size: 24px;
    cursor: pointer;
}

.audio {
    display: none;
}
